.definition-popover {
	z-index: 25000;
}

.definition-empty {
	opacity: 0.6;
	font-style: italic;
}

.definition-container {
	width: 30rem;
	max-width: 100%;
	background-color: white;
	padding: 2rem 3rem 1rem;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.17), 0 12px 24px 0 rgba(0,0,0,0.21);
	border: 1px solid #a7a7a7;
	border-radius: 0.4rem;
}

.definition-details {
	display: flex;
	margin-top: 0.5rem;
}

.definition-badges {
	margin-left: auto;
}

.definition-badge {
	background-color: #14892c;
	padding: 3px 7px;
	color: white;
	border-radius: 4px;
	display: inline-block;
	font-size: 0.7rem;
	visibility: hidden;
}

.definition-badge-visible {
	visibility: visible;
}
