<div class="definition-popover" data-glossary="true">
	<div class="definition-container">
		<h1 data-definition-term>Test</h1>
		<p data-definition-body>
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
		</p>
		<div class="definition-details">
			<a data-open-in-web href="#" target="_blank" rel="noopener noreferrer">→ Show details</a>
			<div class="definition-badges">
				<span data-review-badge class="definition-badge">REVIEW</span>
			</div>
		</div>
	</div>
</div>
