html, body {
	width: 15rem;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0.7rem 1.2rem;
}

a {
	color: #286ba0;
	text-decoration: none;
}

header {
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #e4e4e4;
}

#username {
	font-style: italic;
	color: #828282;
	font-weight: bold;
}

#refresh {
	padding-left: 0.2rem;
}

#logout {
	float: right;
}

.glossary-name {
	margin: 0.7rem 0 0.3rem;
	font-size: 1.7em;
	color: #636363;
	font-weight: normal;
}

.glossary-name.glossary-loading {
	color: #218ede;
}

.glossary-pages {
	margin: 0;
	padding-left: 2em;
}

.placeholder {
	padding: 0 0.4em;
	border: 0.1em solid #eee;
	background-color: #fafafa;
	color: #505050;
	margin: 0 0.3em;
	border-radius: 0.2em;
}

.glossary-pages-empty-hint {
	color: rgba(0, 0, 0, 0.6);
	font-style: italic;
}


.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form input {
	box-sizing: border-box;
	width: 100%;
	height: 2rem;
	margin: 0.3rem 0;
}

.username-input, .password-input {
	padding: 0 0.6rem;
}

.login-button {
	margin-top: 1rem;
	margin-bottom: 0.2rem;
	padding: 0.2rem 0.5rem;
}

.error {
	display: block;
	margin-top: 0.7em;
	color: #de4040;
	font-weight: bold;
}

.error.hidden {
	display: none;
}
