<form class="login-form">
	<input type="text" id="username-input" placeholder="Username" autocomplete="off" />
	<input type="password" id="password-input" placeholder="Password" />
	<input type="submit" id="login-button" value="Login">
</form>
<span id="error" class="error hidden"></span>
