<header>
	Logged in as
	<span id="username">{{profile.user.username}}</span>
	<a href="#" id="refresh">&#8635</a>
	<a href="#" id="logout">Logout</a>
</header>


{{#each glossaries}}
	<h1 class="glossary-name {{#if loading}}glossary-loading{{/if}}">{{name}}</h1>
	{{#if pages}}
		<ul class="glossary-pages">
			{{#each pages}}
				<li>{{pattern url}}</li>
			{{/each}}
		</ul>
	{{else}}
		<span class="glossary-pages-empty-hint">No webpages configured</span>
	{{/if}}
{{/each}}
